:root {
	--background: #1D2025;
	--textbox: #1F2933;
	--taskListBox: #3A434C;
    --text: #3A434C;
    --headers: #ACB0B4;
	--placementText: #ACB0B4;
	--editingText: #EC4899;
	--clearText: #11D5C2;

    --editTransitionLeft:#11D5C2 ;
	--editTransitionRight: #8B5CF6;
    --deleteTransitionLeft: #f5e12d;
    --deleteTransitionRight: rgb(218, 21, 60);

    --toggleColor: #11D5C2;
    --toggleBackground: #1F2933 ;

}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--background);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--headers);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}



/* timer section */

.temp{
    margin-left: 20%;
    color: var(--headers);
}

.watch{
    text-align: center;
    background-color: var(--textbox);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 2rem;
    margin-left: 20%;
    margin-right: 20%;


}


.time  {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;


    color: var(--text);
    font-weight: bold;
    background-color: var(--clearText);
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    transition: 0.3s;
}

button:hover{
    opacity: 0.75;
}

button:active{
    opacity: 0.2;
}


/* Task list section */
#new-task-input {
	flex: 1 1 0%;
	background-color: var(--textbox);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--clearText);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--placementText);
}

#new-task-submit {
	color: var(--editingText);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--editTransitionLeft), var(--editTransitionRight));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.5s;
}

#new-task-submit:hover {
	opacity: 0.75;
}

#new-task-submit:active {
	opacity: 0.2;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--headers);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--taskListBox);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--clearText);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--editingText);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:active {
	opacity: 0.2;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--editTransitionLeft), var(--editTransitionRight));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
    background-image: linear-gradient(to right, var(--deleteTransitionLeft), var(--deleteTransitionRight));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* light/dark mode toggle */
.light-mode{
    --background: #FBF8F1;
	--textbox: #F7ECDE;
	--taskListBox: #F7ECDE;
    --text: #ffffff;
    --headers: #5ececc;
	--placementText: #ACB0B4;
	--editingText: #3ba7a7;
	--clearText: #e49e43;

    --editTransitionLeft:#54BAB9 ;
	--editTransitionRight: #8B5CF6;
    --deleteTransitionLeft: #eab676;
    --deleteTransitionRight: crimson;

    --toggleColor: #e49e43;
    --toggleBackground: #FBF8F1;
}

.wrapper-color-switch{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right: 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

 .color-switch{
    width: 4rem;
    height:2rem;
    border-radius: 10rem;
    background-color: var(--textbox);
    border: 2px solid var(--clearText);
    margin-top: 2rem;
    position: absolute;
    cursor: pointer;
}


.color-switch-toggle{
    width: 1.6rem;
    height: 1.6rem;
    background: var(--toggleColor);
    position: absolute;
    border-radius: 10rem;
    top: 0.08rem;
    left: 0.15rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}


.color-switch::before{
    content:"Dark";
    font-size: 1.3rem;
    color: var(--headers);
    position: absolute;
    display: inline-block;
    width: 1rem;
    margin-top: 0.13rem;
    left: -3.3rem;
}


#input-color-switch:checked ~ label .color-switch-toggle{
    transform: translatex(1.85rem);
}

#input-color-switch:checked ~ .color-switch::before{
    content: "Light";

}

#input-color-switch{
    display:none;
}
